    PORT=5000
    MONGO_URI=xxxxxxxxxxxxx
    CLOUDINARY_CLOUD_NAME=xxxxxxxx
    CLOUDINARY_API_KEY=xxxxxxx
    CLOUDINARY_API_SECRET=xxxxxxxxxx

    STRIPE_SECRET_KEY=xxxxxxxx
    STRIPE_PUBLISHABLE_KEY=xxxxxxxxxxxxx

    JWT_SECRET=my_secret-code


    OPENAI_API_KEY=xxxx
